---
---
<header>
  <div class="navbar bg-base-100 border-b">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl" href="/">Awesome Copilot</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <div class="menu menu-horizontal px-1">
        <a class="btn btn-ghost" href="/chatmodes">Chatmodes</a>
        <a class="btn btn-ghost" href="/instructions">Instructions</a>
        <a class="btn btn-ghost" href="/prompts">Prompts</a>
        <a class="btn btn-ghost" href="/search">Search</a>
      </div>
    </div>
    <div class="navbar-end">
      <a class="btn" href="https://github.com/klezm/awesome-copilot">GitHub</a>
    </div>
  </div>
</header>
